@use "./base.scss";
@use "./variables.scss" as *;

body {
    font-size: 18px;
    letter-spacing: .2px; 
    margin-bottom: 4em;
}

footer a {
    font-family: var(--headerFont);
}

p.meta {
    font-family: var(--headerFont);
}

p.content-meta {
    font-size: 14px;
    color: var(--gray);
}

h1.page-title {
    font-size: 18px;
    padding: 2em;
}

h1.article-title {
    text-align: center;
}

img {
    position: relative;
    /* Move the element to the right by 50% of the container's width */
    left: 50%; 
    /* Calculates 50% of the element's width, and moves it by that */ 
    /* amount across the X-axis to the left */
    transform: translateX(-50%);
    max-width: 400px;
}

ul {
    list-style: disc;
}

div#HCB_comment_box, input, textarea, button  {
    font-family: var(--codeFont) !important;
    font-size: 14px;
    padding: 8px;
    border-color: var(--light);
}

div#HCB_comment_box img {
    display: none;
}

div#HCB_comment_box a, .hcb-like, .hcb-reply, .hcb-flag {
    color: var(--secondary) !important;
    
    &:hover {
        color: var(--tertiary) !important;
        transition: color 0.2s ease;
    }
}

div#HCB_comment_box .hcb-comment-body {
    font-family: var(--bodyFont);
    font-size: 17px;
    // letter-spacing: -.2px;
}

div#HCB_comment_box .likes::after {
    content: " ദ്ദി´˘`)✧"
}

ol li {
    margin-bottom: 1em;
}