@use "./base.scss";
@use "./variables.scss" as *;

body {
    font-size: 19px;
    letter-spacing: .15px;
}

footer a {
    font-family: var(--headerFont);
}

p.meta {
    font-family: var(--headerFont);
}

p.content-meta {
    font-size: 14px;
}

img {
    position: relative;
    /* Move the element to the right by 50% of the container's width */
    left: 50%; 
    /* Calculates 50% of the element's width, and moves it by that */ 
    /* amount across the X-axis to the left */
    transform: translateX(-50%);
}