@use "./base.scss";
@use "./variables.scss" as *;


body {
    font-size: 17px;
    letter-spacing: .15px;
}

footer a {
    font-family: var(--headerFont);
}

p.meta {
    font-family: var(--headerFont);
}