$pageWidth: 500px;
$mobileBreakpoint: 700px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 250px;
$topSpacing: 200px;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 800;
$semiBoldWeight: 600;
$normalWeight: 400;
