$pageWidth: 550px;
$mobileBreakpoint: 700px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 400px;
$topSpacing: 12em;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
